{% extends 'pages/base.html' %}
{% block body %}
{% load static %}


<div style="color:white">
        <h1 style= "font-size: 50px; margin-top: 50px">Input your project</h1>
        <div>
                <form action="{% url 'form' %}" method="POST">
                        {% csrf_token %}
                        <!-- Displaying forms -->
                        {{ form }}
                <a>
                <button type="submit" name="action" style="margin-top: 100px">Submit
                </button>
                </a>
                </form>
        </div>

</div>

{% endblock %}
