{% extends 'pages/base.html' %}
{% load static %}
{% block body %}


<div style="color:white">
    <h1 style="color:white; font-size:50px; margin-top:50px">Project</h1>
{% for items in data %}
    <div>
        <div>
            <p style="font-size:30px">{{items.projecttitle}}</p>
            <p>Time : {{items.startdate}} - {{items.enddate}}</p>
            <p>Place : {{items.place}}</p>
        </div>

        <div>
            <span>Description :</span>
            <p>{{items.description}}</p>
            <p>Category :<b>{{items.category}}</b></p>
        </div>
    </div>
    {% endfor %}
</div>
<p>Add a new project <a href="Form">here</a></p>

{% endblock %}