{% extends 'pages/base.html' %}
{% load static %}
{% block body %}

<style>
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box}

</style>

<form action="/action_page.php" style="border:1px solid #ccc">
  <div class="container">
    <div class="head" style="margin-top:8%;">
        <h1>Sign Up</h1>
        <p>Please fill in this form to create an account.</p>
        <hr>     
    </div>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <label for="psw-repeat"><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
    
    <label>
      <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
    </label>
    
    <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

    <div class="clearfix">
      <button type="button" class="cancelbtn">Cancel</button>
      <button type="submit" class="signupbtn">Sign Up</button>
    </div>
  </div>
</form>

</body>
{% endblock %}
</html>

